h1 {
    font-size: 46px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h1.top {
    margin-top: 70px;
}
.black-bg {
    background-color: #000000;
}

.container.top {
    scroll-padding-top: 5px;
}

.bottom {
    color: white;
    font-weight: 300;
    margin-top: 360px;
}

