<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bckabout.jpg');">
        <div class="container top">
            <div class="col-sm-12">
                <h1 class="top black-bg">Toto je náš expedičný tím</h1>
            </div>
        </div>
    </div>
    
  </div>
    <div class="section section-team text-center">
     <div class="container">
      <h2 class="title">Hlavný členovia expedície</h2>
      <div class="team">
          <div class="row">
              <div class="col-md-4">
                  <div class="team-player">
                      <img src="assets/img/mpa.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                      <h4 class="title">Martin Paulík</h4>
                      <p class="category text-primary">Zakladateľ, Veliteľ</p>
                      <p class="description">Text</p>
                        
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="team-player">
                      <img src="assets/img/mon.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                      <h4 class="title">Matej Ondriaš</h4>
                      <p class="category text-primary">Spoluzakladateľ, Fotograf</p>
                      <p class="description">Text</p>
                          
                  </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/vku.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Vladimír Kubica</h4>
                    <p class="category text-primary">Plánovač, Zabávač</p>
                    <p class="description">Text</p>
                       
                </div>
            </div>
        </div>
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                  <img src="assets/img/lme.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                  <h4 class="title">Lukáš Meňhert</h4>
                  <p class="category text-primary">Navigátor, Fotograf</p>
                  <p class="description">Text</p>
                      
                </div>
            </div>
        <div class="col-md-4">
            <div class="team-player">
                <img src="assets/img/ebr.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Erik Brisuda</h4>
                <p class="category text-primary">Koordinátor</p>
                <p class="description">Text</p>
                  
            </div>
        </div>
        <!-- </div>
               <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/test.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title"></h4>
                    <p class="category text-primary"></p>
                    <p class="description">Text</p>
                       <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>-->
            
          </div>
        </div>
    </div>
</div>
<div class="section section-team text-center">
    <div class="container">
     <h2 class="title">Podporní členovia expedície</h2>
     <div class="team">
         <div class="row">
             <div class="col-md-4">
                 <div class="team-player">
                     <img src="assets/img/angular2-logo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                     <h4 class="title">Tomáš Klein</h4>
                     <p class="category text-primary">Balkan, Nórsko</p>
                     <p class="description">Text</p>
                       
                 </div>
             </div>

             <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/angular2-logo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Matúš Mikušiak</h4>
                    <p class="category text-primary">Balkan, Nórsko</p>
                    <p class="description">Text</p>
                      
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/angular2-logo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Matúš Lisý</h4>
                    <p class="category text-primary">Balkan</p>
                    <p class="description">Text</p>
                      
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/angular2-logo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Michaela Kubicová </h4>
                    <p class="category text-primary">Írsko</p>
                    <p class="description">Text</p>
                      
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/angular2-logo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Diana Balážiová</h4>
                    <p class="category text-primary">Slovensko</p>
                    <p class="description">Text</p>
                      
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <img src="assets/img/angular2-logo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Lucia Radobická</h4>
                    <p class="category text-primary">Slovensko</p>
                    <p class="description">Text</p>
                      
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>  
</div>    
