<div class="wrapper">
    <div class="page-header section-light" style="background-image: url('assets/img/Bckexp.jpg')">
       <!-- <div class="filter"></div> -->
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                  <!--<div class="angular-logo">
                       <img src="assets/img/angular2-logo.png" alt=""> ;-->  
                    </div> 
                    <h1 class="presentation-title">Expedície</h1>
                </div>
                <h2 class="presentation-subtitle text-center">Since 2015</h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed by Kubis
        </h6>--> 
    </div>
    <div class="main">
      <app-expedition-menu-item></app-expedition-menu-item> 
      <app-expedition-presentation></app-expedition-presentation>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="tim-title">  
                  </div>
              </div>
              <br/>
          </div>
        </div>
    </div>
</div>
