<div class="component-wrap">
    <div class="page-header section-light" style="background-image: url({{expedition.previewPhotoUrls[0]}})">
        <div class="container top">
            <div class="col-sm-12">
                <h1 class="top black-bg">{{expedition.title}}</h1>
                <br>
                <h2 class="black-bg">{{datepipe.transform(expedition.dateFrom, 'dd.MM')}} - {{datepipe.transform(expedition.dateTo, 'dd.MM')}}</h2>
            </div>
        </div>
    </div>

    <app-html-content [html]="expedition.contentHTML"></app-html-content>

    <div class="container button-container">
        <button class="btn btn-neutral expedition-more" (click)="goToExpedition()">Pozri viac</button>
    </div>
</div>