<div class="page-header page-header-small">
    <div class="page-header rellax-header"  data-rellax-speed="-8"  style="background-image: url('assets/img/Bckexp.jpg')">
        <div class="container top">
                <div class="col-sm-12">
                <h1 class="top black-bg">14 Krajín</h1>
                <br>
                <h2 class="black-bg">Viac ako 24 tisíc km po Európe</h2>
                <div class="bottom text-center">
                    <h4>Established 2015</h4> 
                </div>
            </div>
        </div> 
    </div>
</div>

<app-expedition-preview *ngFor="let expedition of expeditions;" [expedition]="expedition"></app-expedition-preview>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>