<div class="page-header page-header-small">
    <div class="page-header rellax-header"  data-rellax-speed="-8"  style="background-image: url('assets/img/Bckexp.jpg')">
        <div class="container top">
                 <div class="col-sm-12">
                    <h1 class="top black-bg">14 Krajín</h1>
                    <br>
                    <h2 class="black-bg">Viac ako 24 tisíc km po Európe</h2>
                    <div class="bottom text-center">
                    <h4>Established 2015</h4> 
                </div>
            </div>
        </div> 
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
        <app-expedition-menu-item></app-expedition-menu-item> 
        </div>
        <br/>
        <div class="row">
        </div>
    </div>
</div>

<div class="page-header section-light" style="background-image: url('assets/img/bcksk.jpg')">
    <div class="container top">
        <div class="col-sm-12">
            <h1 class="top black-bg">Slovensko 2015</h1>
            <br>
            <h2 class="black-bg">24.7 - 26.7</h2>
        </div>
    </div>
</div>

<div>
  <app-svk1></app-svk1> 
</div>

<div class="page-header section-light" style="background-image: url('assets/img/bckbalkan6.JPG')">
    <div class="container top">
        <div class="col-sm-12">
        <h1 class="top black-bg">Balkan 2016</h1>
        <br>
        <h2 class="black-bg">16.7 - 23.7</h2>
        </div>
    </div>
</div>

<div>
   <app-bal1></app-bal1>
</div>

<div class="page-header section-light" style="background-image: url('assets/img/Bckexp.jpg')">
    <div class="container top">
        <div class="col-sm-12">
        <h1 class="top black-bg">Nórsko 2017</h1>
        <br>
        <h2 class="black-bg">15.7 - 29.7</h2>
    </div>
</div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
        <app-nor></app-nor>
        </div>
        <br/>
    </div>
</div>

<div class="page-header section-light" style="background-image: url('assets/img/bckitfrs.JPG')">
    <div class="container top">
        <div class="col-sm-12">
        <h1 class="top black-bg">Západná Európa 2018</h1>
        <br>
        <h2 class="black-bg">15.7 - 27.7</h2>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
        <app-itfrs></app-itfrs>
        </div>
        <br/>
    </div>
</div>

<div class="page-header section-light" style="background-image: url('assets/img/bckir.jpg')">
    <div class="container top">
        <div class="col-sm-12">
        <h1 class="top black-bg">Írsko 2019</h1>
        <br>
        <h2 class="black-bg">3.8 - 9.8</h2>
    </div>
</div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
        <app-irl></app-irl>
        </div>
        <br/>
    </div>
</div>

<div class="page-header section-light" style="background-image: url('assets/img/bcksk2020.jpg')">
    <div class="container top">
        <div class="col-sm-12">
        <h1 class="top black-bg">Slovensko 2020</h1>
        <br>
        <h2 class="black-bg">8.8 - 13.8</h2>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
        <app-svk2></app-svk2>
        </div>
        <br/>
    </div>
</div>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>