h1 {
    font-size: 46px;
}

h2 {
    font-size: 32px;
}

h1.top {
    margin-top: 70px;
}

.black-bg {
    background-color: #000000;
}

.container.top {
    scroll-padding-top: 5px;
}


.bottom {
    margin-top: 360px;
}

h1 {
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.5;
    padding: 0 0px 0 0px;
    font-weight: 500;
}

h2 {
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 0 0px 0 0px;
    font-family: inherit;
    font-weight: 500;
}

.scroll-to-top {
    position: fixed;
    z-index: 1;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}
